<div layout="column" layout-fill layout-align="center center">
  <div layout="column" role="main">
    <div layout-align="space-between stretch" layout="column">
      <div layout="row" layout-padding layout-align="center">
       <div flex="100">
        <img src="img/unam_256_grey.png" alt="unam logo" class="logo-unam">
        <h1 class="title">Directorio</h1>
        <section layout="column">
          <h3 class="title">UNAM</h3>
          <ul class="credits">
            <li><strong>Dr. Enrique Graue Wiechers</strong></li>
            <li>Rector</li>
            <li><strong>Dr. Leonardo Lomelí Vanegas</strong></li>
            <li>Secretario General</li>
            <li><strong>Ing. Leopoldo Silva Gutiérrez</strong></li>
            <li>Secretario Administrativo</li>
            <li><strong>Dr. Alberto Ken Oyama Nakagawa</strong></li>
            <li>Secretario de Desarrollo Institucional</li>
            <li><strong>Dr. César Iván Astudillo Reyes</strong></li>
            <li>Secretario de Servicios a la Comunidad</li>
            <li><strong>Dra. Mónica González Contró</strong></li>
            <li>Abogado General</li>
            <li><strong>Lic. Néstor Martínez Cristo</strong></li>
            <li>Director General de Comunicación Social</li>
          </ul>
        </section>
        <section layout="column">
          <h3 class="title">FES Iztacala</h3>
          <ul class="credits">
            <li><strong>Dra. Patricia D. Dávila Aranda</strong></li>
            <li>Directora</li>
            <li><strong>Dr. Ignacio Peñalosa Castro</strong></li>
            <li>Secretario General Académico</li>
            <li><strong>C.D. Rubén Muñiz Arzate</strong></li>
            <li>Secretario de Desarrollo y Relaciones Institucionales</li>
            <li><strong>Dr. Raymundo Montoya Ayala</strong></li>
            <li>Secretaria de Planeación y Cuerpos Colegiados</li>
            <li><strong>C.P. Reyna Isabel Ferrer Trujillo</strong></li>
            <li>Secretario Administrativo</li>
            <li><strong>Dr. Juan Manuel Mancilla Díaz</strong></li>
            <li>Jefe de la División de Investigación y Posgrado</li>
            <li><strong>C.P. Adriana Arreola Jesús</strong></li>
            <li>Jefa de la División de Extensión</li>
          </ul>
        </section>
        <section layout-align="center" layout="row">
          <a class="small" ng-href="#/"><md-icon md-svg-icon="arrow_back"></md-icon> regresar a inicio</a> 
        </section>
       </div>
      </div>
    </div>
  </div>
</div>